{% extends "core/base.html" %}

{% block title %}Lead List{% endblock %}

{% block content %}
<div class="py-6 px-6">
    <h1 class="text-2xl font-bold mb-4">Leads</h1>

    <!-- Add Lead Button -->
    <div class="mb-6">
        <a href="{% url 'leads:add' %}" class="py-2 px-4 bg-teal-500 text-white rounded-lg hover:bg-teal-600">
            Add Lead
        </a>
    </div>

    <!-- Table -->
    {% if leads %}
        <!-- Table Header -->
        <div class="flex justify-between bg-gray-200">
            <p class="py-4 px-2 font-semibold w-full">Name</p>
            <p class="py-4 px-2 font-semibold w-full">Email</p>
            <p class="py-4 px-2 font-semibold w-full">Priority</p>
            <p class="py-4 px-2 font-semibold w-full">Status</p>
        </div>

        <!-- Table Rows -->
        {% for lead in leads %}
            <div class="flex justify-between {% cycle 'bg-gray-100' 'bg-white' %}">
                <p class="py-2 px-2 w-full">
                    <a href="{% url 'leads:detail' lead.id %}" class="text-teal-500 hover:text-teal-700">{{ lead.name }}</a>
                </p>
                <p class="py-2 px-2 w-full">{{ lead.email }}</p>
                <p class="py-2 px-2 w-full">{{ lead.get_priority_display }}</p>
                <p class="py-2 px-2 w-full">{{ lead.get_status_display }}</p>
            </div>
        {% endfor %}
    {% else %}
        <!-- Empty State -->
        <div class="py-4 px-2 text-center text-gray-500">
            No leads found.
        </div>
    {% endif %}
</div>
{% endblock %}